<div class="publications-cards row">
  {% for publication in site.publications reversed limit:3 %}
  <div class="col-lg-4 publications-card-container">
    <a href="{{ publication.permalink }}">
      <div class="publications-card">
        <img src="{{ publication.image_section[0].image }}" alt="" />
        <div class="publications-card-content">
          <h5>{{ publication.title }}</h5>
          <p>{{ publication.authors }}</p>

          <p class="text-sm">
            <strong> Keywords: </strong>
            <!-- prettier-ignore -->
            {% for tag in publication.tags %}
              {{ tag }}{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </p>

          {% assign materials = publication.materials %}

          <div class="pub-resources">
            <ul>
              {% if materials.publishers_copy %}
              <li>
                <a href="{{ materials.publishers_copy }}">
                  <span class="fas fa-external-link-square-alt"></span>
                  Publisher's Copy
                </a>
              </li>
              {% endif %} {% if materials.pdf %}
              <li>
                <a href="{{ materials.pdf }}">
                  <span class="far fa-file-pdf"></span>
                  PDF
                </a>
              </li>
              {% endif %} {% if materials.citation.citation_header %}
              <li>
                <a href="{{ materials.citation.citation_header }}">
                  <span class="fas fa-quote-left"></span>
                  Cite
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
