
<section class="programs-all-section">
  <div class="programs-all-container container">
    <div class="programs-all-cards row">
        {% for programblock in block.programs-block-field %}
        <div class="col-12 col-md-3 programs-all-card-container">
            <div class="programs-all-card">
                <div class="prog-title-container"> <h4>{{programblock.programs-block-header}} </h4>
                </div>
                <p>
                    {{programblock.programs-block-desc}}
                </p>
                <a href="{{programblock.programs-block-link}}" class="btn btn-md prog-btn custom-btn">Learn more</a>
              </div>
        </div>
        {% endfor %}



  </div>
</section>
