<!-- FOOTER -->
<footer class="footer">
  <div class="footer-container container">
    <div class="footer-cards row justify-content-center">
      <div class="col-md-5 footer-card-container">
        <div class="footer-card float-start">
          {% assign logos = site.data.logos.footer_logos %}

          <div class="footer-logos">
            {% for logo in logos %}
            <a href="{{ logo.link }}">
              <img src="{{ logo.img }}" alt="{{ logo.alt }}" />
            </a>
            {% endfor %}
          </div>

          <h5>Data Science Institute</h5>
          <p class="footer-desc">
            The official website for the De La Salle University Dr. Andrew L.
            Tan Data Science Institute (ALTDSI). All information listed is
            official and mandated by the De La Salle University Administration.
          </p>
        </div>
      </div>
      <div class="col-md-6 footer-card-container footer-addr-container">
        <div class="footer-card">
          <p class="footer-address">
            De La Salle University - Manila Campus 2401 Taft Avenue, Malate
            Manila, Philippines
          </p>
          <p class="OID-label">Office of the Executive Director</p>
          <ul class="footer-numbers">
            <li>Email: <a href="#">datascience@dlsu.edu.ph</a></li>
            <li>
              Tel. Nos.: <a href="#">(632) 8524-46-11</a> local 470 or 306
              (trunk line)
            </li>
            <li>Telefax No.: <a href="#">(632) 8526-42-47</a> (direct line)</li>
          </ul>
        </div>
      </div>
      <div class="col-md-1 footer-card-container">
        <div class="footer-card">
          <ul class="footer-nav text-uppercase">
            <li><a href="/">Home</a></li>
            <li><a href="/programs">Programs</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/people">People</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <p class="copyright">
          <span class="far fa-copyright"></span> 2023 DLSU Data Science
          Institute
        </p>
      </div>
    </div>
  </div>
</footer>
