<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <a class="navbar-brand" aria-current="page" href="/">
        {% assign logo = site.data.logos.navbar_logo %}
        <img src="{{ logo.img }}" height="28" alt="{{ logo.alt }}">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-uppercase" id="navbarCollapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <div class="nav-link">
              <a href="/programs" {% if page.url == "/programs" %} style="color: #00703C;" {% endif %}>Programs</a>
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/programs/masters" {% if page.url == "/programs/masters" %} style="color: #00703C;" {% endif %}>Master in Data Science</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/programs/minor-in-data-science" {% if page.url == "/programs/minor-in-data-science" %} style="color: #00703C;" {% endif %}>Minor in Data Science</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/programs/short-courses" {% if page.url == "/programs/short-courses" %} style="color: #00703C;" {% endif %}>Short Courses</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div class="nav-link">
              <a href="/research" {% if page.url == "/research/" %} style="color: #00703C;" {% endif %}>Research</a>
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/projects" {% if page.url == "/projects" %} style="color: #00703C;" {% endif %}>Projects</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/publications" {% if page.url == "/publications" %} style="color: #00703C;" {% endif %}>Publications</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
                <a href="/news" {% if page.url == "/news/" %} style="color: #00703C;" {% endif %}>News</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
                <a href="/about" {% if page.url == "/about/" %} style="color: #00703C;" {% endif %}> About</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
                <a href="/people" {% if page.url == "/people/" %} style="color: #00703C;" {% endif %}>People</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
