---
carousel-headline: Headline Example
carousel-desc: ''
active_carousel_container:
- active-carousel-description: ''
carousel-container:
- carousel-background-image: "/temp-images/image1.jpg"
  carousel-description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    \n                        sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. \n                        Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris\n                        nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in \n                        reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla \n                        pariatur."
  carousel-title: Headline Example
  carousel-link: "# "
- carousel-background-image: "/temp-images/image2.jpeg"
  carousel-title: Headline Example
  carousel-description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    \n                        sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. \n                        Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris\n                        nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in \n                        reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla \n                        pariatur."
  carousel-link: "# "
brief-description-container:
  bd-header: ''
  bd-description: ''
programs-container:
  programs-header: Programs
  programs-description: "                    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod \n                    tempor incididunt ut labore
    et dolore magna aliqua. Scelerisque purus semper \n                    eget duis
    at tellus at. Pellentesque massa placerat duis ultricies lacus sed \n                    turpis.
    Nibh cras pulvinar mattis nunc. "
  program-card:
  - program-title: Minor in Data Science
    program-description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod \n                            tempor incididunt ut labore et
      dolore magna aliqua. Scelerisque purus \n                            semper
      eget duis at tellus at\n                            <br><br>\n                            Pulvinar
      elementum integer enim neque volutpat. Ac tincidunt vitae semper \n                            quis
      lectus nulla at volutpat diam. Tristique senectus et netus et. \n                            Ultricies
      mi quis hendrerit dolor magna eget est. Facilisis magna etiam \n                            tempor
      orci eu"
    program-link: minorindatasci.html
  - program-title: M.S. in Data Science
    program-description: "                            Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod \n                            tempor
      incididunt ut labore et dolore magna aliqua. Scelerisque purus \n                            semper
      eget duis at tellus at\n                            <br><br>\n                            Pulvinar
      elementum integer enim neque volutpat. Ac tincidunt vitae semper \n                            quis
      lectus nulla at volutpat diam. Tristique senectus et netus et. \n                            Ultricies
      mi quis hendrerit dolor magna eget est. Facilisis magna etiam \n                            tempor
      orci eu"
    program-link: msindatasci.html
  - program-title: Diploma Courses
    program-description: "                            Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod \n                            tempor
      incididunt ut labore et dolore magna aliqua. Scelerisque purus \n                            semper
      eget duis at tellus at\n                            <br><br>\n                            Pulvinar
      elementum integer enim neque volutpat. Ac tincidunt vitae semper \n                            quis
      lectus nulla at volutpat diam. Tristique senectus et netus et. \n                            Ultricies
      mi quis hendrerit dolor magna eget est. Facilisis magna etiam \n                            tempor
      orci eu"
    program-link: diplomacourses.html
news-container:
  news-header: News
  news-card:
  - news-title: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    news-date: 2021-04-28 00:00:00 +0800
    news-description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque purus
      semper eget duis at tellus at '
    news-link: "#"
  - news-title: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    news-date: 2021-04-28 00:00:00 +0800
    news-description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque purus
      semper eget duis at tellus at '
    news-link: "#"
  - news-title: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    news-date: 2021-04-28 00:00:00 +0800
    news-description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque purus
      semper eget duis at tellus at '
    news-link: "#"
  news-container-header: ''
recent-projects-container:
  recent-projects-header: Recent Projects
  recent-projects-card:
  - recent-project-image: "/temp-images/proj1.png"
    recent-project-title: An Optimization Model for Vaccine Allocation
    recent-project-description: Dr. Charlle Sy and Dr. Kathleen Aviso in partner with
      Animo Labs
    recent-project-link: "#"
    recent-project-authors: Dr. Charlle Sy and Dr. Kathleen Aviso in partner with
      Animo Labs
  - recent-project-image: "/temp-images/proj1.png"
    recent-project-title: Exploring the PISA 2018 and SEA-PLM 2019 Global Competence
      Surveys Using Data Mining Approaches
    recent-project-description: Dr. Allan Benedict Bernardo, Dr. Macario Cordel II
      and Unisse Chua in partner with SEAMO - Innotech
    recent-project-link: "#"
    recent-project-authors: Dr. Allan Benedict Bernardo, Dr. Macario Cordel II and
      Unisse Chua in partner with SEAMO - Innotech
  - recent-project-image: "/temp-images/proj1.png"
    recent-project-title: Diachronic Representation and Linguistic Study of Filipino
      Word Senses Across Social and Digital Media Contexts
    recent-project-description: Dr. Briane Paul Samson, Unisse Chua, Dr. Charibeth
      Cheng, and Ralph Regalado in partner with Senti-AI and DOST
    recent-project-link: "#"
    recent-project-authors: Dr. Briane Paul Samson, Unisse Chua, Dr. Charibeth Cheng,
      and Ralph Regalado in partner with Senti-AI and DOST
  recent-projects-link: "# "
publications-container:
  publications-header: Publications
  publications-description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod \n                    tempor incididunt ut labore et dolore magna
    aliqua. Scelerisque purus semper \n                    eget duis at tellus at.
    Pellentesque massa placerat duis ultricies lacus sed \n                    turpis.
    Nibh cras pulvinar mattis nunc. "
  publication-card:
  - publications-image: "/temp-images/pub1.jpg"
    publication-title: Visual Attention-based Abnormal Traffic Incident Detection
      Model, Philippine Journal of Science
    publication-pdf: ''
    publication-copy: "# "
    publication-description: Caitlienne Dianne C. Juan, Jaira Rose A. Bat-og, Kimberly
      K. Wan, and Macario O. Cordel II
    publication-image: "/temp-images/pub1.jpg"
    publication-authors: Caitlienne Dianne C. Juan, Jaira Rose A. Bat-og, Kimberly
      K. Wan, and Macario O. Cordel II
  - publications-image: "/temp-images/pub2.png"
    publication-title: 2020 Symposium on Emerging Research from Asia and on Asian
      Contexts and Cultures
    publication-description: Chua, U., Santiago, K. L., Ona, I. B., Pena, R. M., Marasigan,
      G. Z., Reyes, P. G., Samson, B. P. V
    publication-pdf: ''
    publication-copy: "# "
    publication-image: "/temp-images/pub2.png"
    publication-authors: Chua, U., Santiago, K. L., Ona, I. B., Pena, R. M., Marasigan,
      G. Z., Reyes, P. G., Samson, B. P. V
  - publications-image: ''
    publication-title: A Task-Driven Eye Fixation Data Collection towards Automatic
      Abnormal Road Traffic Incident Detection
    publication-description: Caitlienne Dianne C. Juan, Jaira Rose A. Bat-og, Kimberly
      K. Wan, and Macario O. Cordel II
    publication-pdf: ''
    publication-copy: "# "
    publication-image: "/temp-images/pub3.jpg"
    publication-authors: Caitlienne Dianne C. Juan, Jaira Rose A. Bat-og, Kimberly
      K. Wan, and Macario O. Cordel II
  publications-link: "# "
active-carousel-container:
  active-carousel-background-image: "/temp-images/dlsu.jpg"
  active-carousel-title: Headline Example
  active-carousel-description: "Lorem ipsum dolor sit amet, consectetur adipiscing
    elit, \n                            sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua. \n                            Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris\n                            nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in \n                            reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla \n                            pariatur."
  active-carousel-link: "# "
bd-container:
  bd-header: Data Science Institute
  bd-description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod \n                tempor incididunt ut labore et dolore magna aliqua.
    Scelerisque purus semper \n                eget duis at tellus at. Pellentesque
    massa placerat duis ultricies lacus sed \n                turpis. Nibh cras pulvinar
    mattis nunc. Pulvinar elementum integer enim neque \n                volutpat.
    Ac tincidunt vitae semper quis lectus nulla at volutpat diam. \n                Tristique
    senectus et netus et. Ultricies mi quis hendrerit dolor magna eget \n                est.
    Facilisis magna etiam tempor orci eu. Tempor nec feugiat nisl pretium \n                fusce
    id. At risus viverra adipiscing at in tellus integer. At risus viverra \n                adipiscing
    at in. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    \n                tempor incididunt ut labore et dolore magna aliqua. Scelerisque
    purus semper \n                eget duis at tellus at. Pellentesque massa placerat
    duis ultricies lacus sed \n                turpis. "
  bd-about-us: ''

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0f6c86d6c3.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>

    <!-- NAVBAR PLACEHOLDER -->
    <div id="navbar-placeholder">

    </div>
    
    <!-- CAROUSEL -->
    <section id="homepage-carousel" class="carousel-section carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homepage-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#homepage-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#homepage-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ page.active-carousel-container.active-carousel-background-image }}" alt="image1">
                <div class="carousel-container container">
                    <div class="carousel-content text-start">
                        <h1 class="carousel-headline">{{ page.active-carousel-container.active-carousel-title }}</h1>
                        <p>
                          {{ page.active-carousel-container.active-carousel-description }}
                        </p>
                        <a href="{{ page.active-carousel-container.active-carousel-link }}" class="carousel-btn btn btn-md">Learn more</a>
                    </div>
                
                </div>
            </div>
          {% for item in page.carousel-container %}
            <div class="carousel-item">
                <img src="{{ item.carousel-background-image }}" alt="image2">
                <div class="carousel-container container">
                    <h1 class="carousel-headline">{{ item.carousel-title }} </h1>
                    <p>
                      {{ item.carousel-description }}
                    </p>
                    <a href="{{ item.carousel-link }}" class="carousel-btn btn btn-md">Learn more</a>
                </div>
            </div>
          {% endfor %}
        </div>
    </section>

    <!-- DLSU DATA INSTITUTE BRIEF DESCRIPTION -->
    <section class="brief-description-section">
        <div class="brief-description-container container text-center">
            <h1>{{ page.bd-container.bd-header }}</h1>
            <p>
                {{ page.bd-container.bd-description }}
            </p>
            <a href="about.html" class="btn btn-md about-us-btn custom-btn">About us</a>
                
            
        </div>
    </section>

    <!-- PROGRAMS -->
    <section class="programs-section">
        <div class="programs-container container">
            <div class="program-desc text-center">
                <h3 class="text-uppercase">{{ page.programs-container.programs-header }}</h3>
                <p>
                    {{ page.programs-container.programs-description }}
                </p>
            </div>
            <div class="program-cards row">
              {% for program in page.programs-container.program-card %}
                <div class="col-lg-4 prog-card-container">
                    <div class="prog-card">
                        <h4>{{ program.program-title }}</h4>
                        <p>
                            {{ program.program-description }}
                        </p>
                        <a href="{{ program.program-link }}" class="btn btn-md prog-btn custom-btn">Learn more</a>
                    </div>
                </div>
              {% endfor %}
            </div>
            
        </div>
    </section>

    <!-- NEWS -->
    <section class="news-section">
        <div class="news-container container">
            <h3 class="text-uppercase text-center">{{ page.news-container.news-container-header }}</h3>
            <div class="news-cards row">
              {% for news in page.news-container.news-card %}
                <div class="col-md-4 news-card-container">
                    <a href="{{ news.news-link }}">
                        <div class="news-card">
                            <h5>{{ news.news-title }}</h5>
                            <h6>{{ news.news-date }}</h6>
                            <p>
                                {{ news.news-description }} </p>
                        </div>
                    </a>
                </div>
              {% endfor %}
            </div>
        </div>

    </section>

    <!-- RECENT PROJECTS -->
    <section class="recent-projects-section">
        <div class="recent-projects-container text-center container">
            <h3 class="text-uppercase">{{ page.recent-projects-container.recent-projects-header }}</h3>
            <div class="recent-projects-cards row">
              {% for rp in page.recent-projects-container.recent-projects-card %}
                <div class="col-lg-4 recent-projects-card-container">
                    <a href="{{ rp.recent-project-link }}">
                        <div class="recent-projects-card">
                            <img src="{{ rp.recent-project-image }}" alt="">
                            <div class="recent-projects-card-content">
                                <h5>{{ rp.recent-project-title }} </h5>
                                <p>{{ rp.recent-project-authors }}</p>
                            </div>
                        </div>
                    </a>
                </div>
              {% endfor %}
            </div>
            <a href="{{ page.recent-projects-container.recent-projects-link }}" class="btn btn-md view-all-btn custom-btn">View all</a>

        </div>

    </section>

    <!-- PUBLICATIONS -->
    <section class="hp-publications-section">
        <div class="pub-white-space"></div>
        <div class="hp-publications-container text-center container">
            <div class="pub-desc">
                <h3 class="text-uppercase">{{ page.publications-container.publications-header }}</h3>
                <p>
                    {{ page.publications-container.publications-description }}
                </p>
            </div>
            <div class="hp-publications-cards row">
              {% for publication in page.publications-container.publication-card %}
                <div class="col-lg-4 hp-publications-card-container">
                    <a href="publication.html">
                        <div class="hp-publications-card">
                            <img src="{{ publication.publication-image }}" alt="">
                            <div class="hp-publications-card-content">
                                <h5>{{ publication.publication-title }}</h5>
                                <p>{{ publication.publication-authors }}</p>
                                <div class="pub-resources">
                                    <ul>
                                        <li>
                                            <a href="{{ publication.publication-copy }}">
                                                <span class="fas fa-external-link-square-alt"></span>
                                                Publisher's Copy</a>
                                        </li>
                                        <li>
                                            <a href="{{ publication.publication-pdf }}">
                                                <span class="far fa-file-pdf"></span>
                                                PDF</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fas fa-quote-left"></span>
                                                Cite</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
              {% endfor %}
              
            </div>
            <a href="research.html" class="btn btn-md view-all-btn custom-btn">View all</a>
        </div>
        
    </section>
    

    <!-- PARTNER AGENCIES -->
    <section class="partner-agencies-section">
        <div class="partner-agencies-container text-center container">
            <h3 class="text-uppercase">Partner Agencies</h3>
            <div class="partner-agencies-cards row">
                <div class="col-sm-3 partner-agencies-card-container">
                    <a href="https://www.dost.gov.ph/"><img src="/temp-images/1200px-DOST_seal.svg.png" alt=""></a>
                </div>
                <div class="col-sm-3 partner-agencies-card-container">
                    <a href="https://www.dlsuanimolabs.com/"><img src="/temp-images/Animo Labs Logo.png" alt=""></a>
                </div>
                <div class="col-sm-3 partner-agencies-card-container">
                    <a href="https://www.seameo-innotech.org/"><img src="/temp-images/INNOTECH-Logo.png" alt=""></a>
                </div>
                <div class="col-sm-3 partner-agencies-card-container">
                    <a href="https://senti.ai/"><img src="/temp-images/vertical-lightbg-senti-logo.png" alt=""></a>
                </div>

            </div>
        </div>

    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container container">
            <div class="footer-cards row">
                <div class="col-md-5 footer-card-container">
                    <div class="footer-card float-start">
                        <div class="footer-logos">
                            <a href="#"><img src="/temp-images/dlsulogowhite.png" alt="DLSU logo"></a>
                            <a href="#"><img src="/temp-images/DLSU DSI Logo 01 reverse green.png" alt="DSI Logo"></a>
                        </div>
                        <h5>Data Science Institute</h5>
                        <p class="footer-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque purus semper eget duis at tellus at.</p>
                    </div>
                </div>
                <div class="col-md-6 footer-card-container">
                    <div class="footer-card">
                        <p class="footer-address">De La Salle University - Manila Campus
                            2401 Taft Avenue, Malate
                            Manila, Philippines</p>
                        <p class="OID-label">Office of the Insitute Dean</p>
                        <ul class="footer-numbers">
                            <li>Email: <a href="#">datascience@dlsu.edu.ph</a></li>
                            <li>Tel. Nos.: <a href="#">(632) 8524-46-11</a> local 470 or 306 (trunk line)</li>
                            <li>Telefax No.: <a href="#">(632) 8526-42-47</a> (direct line)</li>
                        </ul>
                        <p class="copyright"><span class="far fa-copyright"></span>
                        2021  DLSU Data Science Institute</p>
                    </div>
                </div>
                <div class="col-md-1 footer-card-container">
                    <div class="footer-card">
                        <ul class="footer-nav text-uppercase">
                            <li><a href="home.html">Home</a></li>
                            <li><a href="programs.html">Programs</a></li>
                            <li><a href="research.html">Research</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="people.html">People</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- NAVBAR JS -->
    <script src="/js/navbar.js"></script>

</body>
</html>