/* IMPORT OPEN SANS FONT FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

/* NAVABAR STYLE */
.navbar {
    background: #FFF;
    border-bottom: 2px solid #F6F6F6;
    /* padding: 0px 50px; */
}

.navbar-brand {
    padding: 0px !important;
}

.navbar-nav li a{
    font-weight: 600;
    color: #000 !important;
}

/* when nav-item clicked*/
.navbar-nav li a:active {
    color: #00703C;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,112,60, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* CAROUSEL STYLE */
.carousel-headline {
    font-weight: 700;
}

.carousel-item {
    height: 600px;
    background: #777;
    color: white;
    position: relative;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 40%;
}

.carousel-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 40px 50px 40px;
}

.carousel-content {
    z-index: 10;
}

.carousel-btn {
    border-radius: 50px !important;
    background-color: #FFF !important;
    border: 2px #00703C !important;
    font-size: 16px !important;
    color: #00703C !important;
    font-weight: 600 !important;
}

.carousel-btn:hover{
    background-color: #00703C !important;
    color: #FFF !important;
}

/* BRIEF DESCRIPTION */
.brief-description-container {
    margin: 40px 40px 30px 40px;
}

.brief-description-container h1 {
    font-weight: 700;
    color: #00703C;
    margin-bottom: 15px;
}

.brief-description-container p {
    margin-bottom: 25px;
    text-align: justify;
    text-indent: 50px;
}

.custom-btn {
    border-radius: 50px !important;
    background-color: #FFF !important;
    border: 2px solid #00703C !important;
    font-size: 16px !important;
    color: #00703C !important;
    font-weight: 600 !important;
    
}

.custom-btn:hover {
    background-color: #00703C !important;
    color: #FFF !important;
}

/* PROGRAMS */
.programs-section {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #00703C;
}

.program-desc {
    color: #FFF;
}

.program-desc h3 {
    font-weight: 700;
    margin-bottom: 20px;
}

.prog-card-container{
    margin-top: 10px !important;
}

.prog-card {
    background-color: #FFF;
    border-radius: 20px;
    text-align: center ;
    padding: 20px 30px;
    margin: 10px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prog-card h4 {
    font-weight: 700;
    color: #00703C;
    margin-bottom: 15px;
}

.prog-card p {
    text-align: justify;
    padding-bottom: 10px;
}


/* NEWS CONTAINER */
.news-section {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.news-card-container a {
    text-decoration: none;
}

.news-container h3 {
    font-weight: 700;
    margin-bottom: 20px;
    color: #00703C;
}

.news-card {
    margin-top: 20px;
    padding: 5px 10px;
}

.news-card h5 {
    font-weight: 700;
    color: #00703C;
}

.news-card h6 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #000;
}

.news-card p {
    color: #000;
}

/* RECENT PROJECTS */
.recent-projects-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.recent-projects-container h3 {
    font-weight: 700;
    margin-bottom: 20px;
    color: #00703C;
}

.recent-projects-card, .hp-publications-card {
    background-color: #FFF;
    border-radius: 20px;
    text-align: center ;
    margin: 10px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.recent-projects-card img {
    height: 200px;
    width:100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.recent-projects-card-content {
    border-top: 2px solid #F6F6F6;
    padding: 10px 18px;
    height: 220px !important;
}

.recent-projects-card-content h5 {
    font-weight: 700;
    margin-bottom: 15px;
}

.view-all-btn {
    margin-top: 30px;
    width: 150px;
}

/* PUBLICATIONS */
.hp-publications-section {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 0;
}

.hp-publications-container {
    position: relative;
    z-index: 2;
}

.hp-publications-card-container a, .recent-projects-card-container a {
    color: #000;
    text-decoration: none;
}

.hp-publications-card-container a:hover, .recent-projects-card-container a:hover{
    color: #00703C;
}

.pub-desc h3 {
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFF;
}

.pub-desc p {
    color: #FFF;
}

.hp-publications-card-content {
    height: 270px;
    border-top: 2px solid #F6F6F6;
    padding: 10px 18px;
}

.hp-publications-card-content h5 {
    font-weight: 700;
    margin-bottom: 15px;
}

.hp-publications-card img {
    width:100%;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pub-resources ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 35px;

}

.pub-resources ul li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.pub-resources ul li a {
    text-decoration: none;
    color: #000;
}

.pub-white-space {
    background-color: #00703C;
    height: 456px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
}


/* PARTNER AGENCIES */
.partner-agencies-section {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 100px;
}

.partner-agencies-container h3{
    font-weight: 700;
    margin-bottom: 20px;
    color: #00703C;
}


.partner-agencies-card-container {
    height: 100px;
    width: 100px;
}

.partner-agencies-card-container img{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* FOOTER */
.footer {
    background-color: #00703C;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-logos img{
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}


.footer-card h5{
    font-weight: 700;
}

.footer p {
    font-size: 14px;
}

.footer-address, .footer-desc {
    width: 280px;
}

.OID-label {
    margin-bottom: 0px;
}

.footer-numbers, .footer-nav {
    list-style-type: none;
    padding-left: 0px;
    font-size: 14px;
}

.footer-nav {
    font-size: 16px;
}

.footer-nav li {
    padding-bottom: 8px;
}

.footer-numbers li a, .footer-nav li a {
    text-decoration: none;
    color: #FFF;
}

.copyright {
    margin-top: 30px;
}


/* ABOUT */

.about-img-container{
    margin-top: 120px;
    margin-bottom: 30px;
}

.about-img img{
    width: 100%;
}

.about-desc h1 {
    font-weight: 700;
    color: #00703C;
    margin-bottom: 10px;
}

.about-container {
    padding-bottom: 30px;
}

.about-desc p, .mission-vision {
    margin-bottom: 30px;
}

.about-container p {
    text-align: justify;
}

.mission-vision h3, .about-contact h3 {
    font-weight: 700;
    color: #00703C;
}

.about-numbers {
    list-style-type: none;
    padding-left: 0px;
}

.about-numbers li {
    margin-bottom: 8px;
}

.about-numbers li a {
    text-decoration: none;
    color: #000;
}

.about-numbers li a:hover {
    color: #00703C;
}

.about-numbers li span {
    margin-right: 6px;
}

/* PEOPLE */
.people-title {
    background-color: #00703C;
    margin-top: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
}


.person-card-container img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.person-card {
    background-color: #FFF;
    border-radius: 20px;
    text-align: center ;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.steering-section, .faculty-section {
    margin-top: 40px;
}

.faculty-section {
    margin-bottom: 40px;
}

.steering-section h3, .faculty-section h3 {
    margin-bottom: 25px;
    font-weight: 700;
    color: #00703C;
}

.person-card-container a{
    text-decoration: none;
    color: #000;
}

.person-card-container a:hover {
    color: #00703C;
}

.person-details {
    padding: 5px 10px;
    height: 160px;
}

.person-details h5 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.person-details h6 {
    font-size: 14px;
    margin-bottom: 10px;
}