{% include header.html %}
{% include navbar.html %}
<div>
  <div class="about-img-container container">
      <div class="about-img">
          <img src="{{ page.image }}" alt="">
      </div>
  </div>

  <div class="about-container container">
      <div class="about-desc">
          <h1 class="text-uppercase">About</h1>
          <p>{{ page.about-content }}</p>
      </div>

      <div class="mission-vision row">
          <div class="col-lg-6 mission-desc">
              <h3 class="text-uppercase">Mission</h3>
              <p>{{ page.mission-content }}</p>
          </div>
          <div class="col-lg-6 vision-desc">
              <h3 class="text-uppercase">Vision</h3>
              <p>{{ page.vision-content }}</p>

          </div>
      </div>

      <div class="about-contact">
          <h3 class="text-uppercase">Contact</h3>
          <ul class="about-numbers">
              <li><span class="far fa-envelope"></span>
              Email: <a href="#">datascience@dlsu.edu.ph</a></li>
              <li><span class="fas fa-phone-alt"></span>
              Tel. Nos.: <a href="#">(632) 8524-46-11</a> local 470 or 306 (trunk line)</li>
              <li><span class="fas fa-fax"></span>
              Telefax No.: <a href="#">(632) 8526-42-47</a> (direct line)</li>
          </ul>
      </div>

  </div>
</div>
{% include footer.html %}
