<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body>
  {% include navbar.html %}

  <section class="programs-desc-section">
    <div class="programs-desc-container text-center container">
      <h2 class="text-uppercase">
        {{ page.title }}
      </h2>
      <p>
        {{ page.description }}
      </p>
    </div>
  </section>

  <div class="programs content">
    {% for course in site.programs %}
    {% if course.is_diploma_course %}

    <button class="diploma-course-header" data-bs-toggle="collapse"
      data-bs-target="#dp-course-{{ course.title | remove: ' ' | handle }}" aria-expanded="false"
      aria-controls="dp-course-{{ course.title | remove: ' ' | handle }}">
      + {{ course.title }}
    </button>
    <div class="diploma-course-content">
      <div class="collapse" id="dp-course-{{ course.title | remove: ' ' | handle }}">
        {% if course.is_active %}
        <div style="text-align: center; margin-bottom: 1.5rem;">
          <h5>Dr. Andrew L. Tan Data Science Institute</h5>
          <p>in cooperation with the</p>
          <h5>{{ course.co_op }}</h5>
          <p>cordially invites you to an online course on the</p>
          <h5>{{ course.title }}</h5>
        </div>
        {% endif %}

        <div>{{ course | markdownify }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  {% include footer.html %}
  <script>
    $('.programs.content').on('show.bs.collapse', e => {
      e.target.parentElement.previousElementSibling.classList.add('is-selected')
    }).on('hidden.bs.collapse', e => {
      e.target.parentElement.previousElementSibling.classList.remove('is-selected')
    })
  </script>
</body>

</html>