<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body>
  {% include navbar.html %}

  <section class="programs-desc-section">
    <div class="programs-desc-container text-center container">
      <h2 class="text-uppercase">
        {{ page.title }}
      </h2>
      <p>
        {{ page.description }}
      </p>
    </div>
  </section>

  <section class="container mb-4" style="text-align: right;">
    <span class="me-2 fw-bold">Show status: </span>
    <input class="form-check-input" type="checkbox" id="dc-active" checked>
    <label class="form-check-label unselectable me-2" for="dc-active" unselectable="on">Active</label>

    <input class="form-check-input" type="checkbox" id="dc-upcoming" checked>
    <label class="form-check-label unselectable" for="dc-upcoming" unselectable="on">Upcoming</label>
  </section>

  <div class="programs content row justify-content-center">
    {% for course in site.programs reversed %}
    {% if course.is_diploma_course %}
    {% include program/dc-card.html course=course %}

    <!-- <button class="diploma-course-header" data-bs-toggle="collapse"
      data-bs-target="#dp-course-{{ course.title | remove: ' ' | handle }}" aria-expanded="false"
      aria-controls="dp-course-{{ course.title | remove: ' ' | handle }}">
      + {{ course.title }}
    </button> -->
    <!-- <div class="diploma-course-content">
      <div class="collapse" id="dp-course-{{ course.title | remove: ' ' | handle }}">
        {% if course.is_active %}
        <div style="text-align: center; margin-bottom: 1.5rem;">
          <h5>Dr. Andrew L. Tan Data Science Institute</h5>
          <p>in cooperation with the</p>
          <h5>{{ course.co_op }}</h5>
          <p>cordially invites you to an online course on the</p>
          <h5>{{ course.title }}</h5>
        </div>
        {% endif %}

        <div>{{ course | markdownify }}</div>
      </div>
    </div> -->
    {% endif %}
    {% endfor %}
  </div>

  {% include footer.html %}
  <script>
    const active = [], upcoming = []
    const activeCBox = document.getElementById('dc-active')
    const upcomingCBox = document.getElementById('dc-upcoming')

    for (const elem of document.getElementsByClassName('prog-col')) {
      (elem.classList.contains('dc-is-active') ? active : upcoming).push(elem)
    }

    activeCBox.addEventListener('click', e => {
      if (upcomingCBox.checked) {
        active.forEach(e => e.classList.toggle('d-none'))
      } else {
        e.preventDefault()
      }
    })

    upcomingCBox.addEventListener('click', e => {
      if (activeCBox.checked) {
        upcoming.forEach(e => e.classList.toggle('d-none'))
      } else {
        e.preventDefault()
      }
    })
  </script>
</body>

</html>