{% include header.html %}
{% include navbar.html %}
    <div class="news-title">
        <h1 class="text-uppercase">News and Events</h1>
    </div>

    <!-- NEWS CARDS -->
    <section class="events-section">
        <div class="events-container container">
            <div class="events-cards row">
                <div class="col-sm-3 events-card-container">
                    <a href="event.html">
                        <div class="events-card">
                            <img src="/temp-images/event1.jpeg" alt="">
                            <div class="events-info">
                                <h6 class="event-date">April 29, 2021</h6>
                                <h6 class="event-category">Blog</h6>
                                <h5 class="event-title">DLSU's "Dude, Pantry, Chong!" Community Pantry</h5>
                                <h6>Russ Henson</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>

{% include footer.html %}
