<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>
    {% include navbar.html %}

    <!-- BREADCRUMBS -->
    <div class="mb-5">
      <div class="breadcrumbs-container container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/news">News</a></li>
            <!-- The active item will contain the short title of the news -->
            <li class="breadcrumb-item active" aria-current="page">
              {{ page.title }}
            </li>
          </ol>
        </nav>
      </div>

      <div class="event-img-container container">
        <div class="event-img">
          <img src="{{ page.image }}" alt="" />
        </div>
      </div>

      <div class="proj-info-container container">
        <h1 class="proj-title">{{ page.title }}</h1>
        <h5 class="specific-event-date mt-4">{{ page.date | date: "%B %-d, %Y" }}</h5>
        <p>{{ page.short_description }}</p>
        <hr class="mb-4">
        <p class="fst-italic">Published by {{ page.authors }}</p>
        <div class="event-description">
          <p>{{ content }}</p>
        </div>
        {% if page.read_more_link %}
        <a class="btn btn-success" href="{{ page.read_more_link }}" target="_blank" rel="noreferrer">Read More</a>
        {% endif %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
