<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>
    {% include navbar.html %}

    <section class="programs-desc-section">
      <div class="programs-desc-container text-center container">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
      </div>
    </section>

    <div class="programs content" style="min-height: calc(100vh - 653px)">
      {{ content }}
    </div>

    <section class="programs content">
      <div class="announcement-container text-center container">
        <h2>Program Announcements</h2>
        <p>Announcement text goes here</p>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
