<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>
    {% include navbar.html %}

    <section class="programs-desc-section">
        <div class="programs-desc-container text-center container">
            <h2 class="text-uppercase">
                {{ page.special_program_field.header }}
            </h2>
            <p>
                {{ page.special_program_field.description }}
            </p>
        </div>
    </section>

    <div class="programs content">
        {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
