<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body>
    {% include navbar.html %}

    <section class="programs-desc-section">
        <div class="programs-desc-container text-center container">
            <h2 class="text-uppercase">
                {{ page.header.title }}
            </h2>
            <p>
                {{ page.header.description }}
            </p>
        </div>
    </section>

    <!-- prettier-ignore -->
    <section class="programs-all-section">
        <div class="programs-all-container container">
            <div class="programs-all-cards row">
                {% for item in page.program_item %}
                <div class="col-12 col-md-3 programs-all-card-container">
                    <div class="programs-all-card">
                        <div class="prog-title-container">
                            <h4>{{ item.title }} </h4>
                        </div>
                        <p>
                            {{ item.desc }}
                        </p>
                        <a href="{{ item.link }}" class="btn btn-md prog-btn custom-btn">Learn more</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include footer.html %}
</body>

</html>