<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body>
    {% include navbar.html %}

    <section class="programs-desc-section">
        <div class="programs-desc-container text-center container">
            <h2 class="text-uppercase">
                {{ page.header.title }}
            </h2>
            <p>
                {{ page.header.description }}
            </p>
        </div>
    </section>

    <!-- prettier-ignore -->

    {% for item in page.program_item %}
    <div class="container" style="margin: 50px auto;" id="{{ item.title | remove: ' ' | handle }}">
        <div class="programs-all-card">
            <div class="prog-title-container">
                <h4>{{ item.title }}</h4>
            </div>
            <p>
                {{ item.description }}
            </p>
            <a href="{{ item.link }}" class="btn btn-md prog-btn custom-btn">Learn more</a>
        </div>
    </div>
    {% endfor %}

    {% include footer.html %}
</body>

</html>