<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body>
  {% include navbar.html %}

  <section id="papers-section">
    <div>
      <h2 class="text-uppercase text-center">{{ page.title }}</h2>
    </div>

    <div class="container proj">
      {% for project in site.projects reversed %}
      <a href="/projects/{{ project.title | slugify }}" class="d-flex justify-content-between mb-3 no-decoration">
        <div class="proj-item-details">
          <h6>{{ project.lead_proponent }}</h6>
          <h5 class="proj-item-title">{{ project.title }}</h5>
          <h6 class="proj-date text-muted">{{ project.date | date: "%B %-d, %Y" }}</h6>
        </div>

        <div>
          <img src="{{ project.image-section[0].image }}" alt="{{ project.title }}" width="200px" height="134px">
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
    
  <section id="projects-section">
    <div>
      <h2 class="text-uppercase text-center">Tools</h2>
    </div>

    <div class="container proj">
      {% for project in site.projects reversed %}
      <a href="/projects/{{ project[0].title | slugify }}" class="d-flex justify-content-between mb-3 no-decoration">
        <div class="proj-item-details">
          <h6>{{ project.lead_proponent }}</h6>
          <h5 class="proj-item-title">{{ project.title }}</h5>
          <h6 class="proj-date text-muted">{{ project.date | date: "%B %-d, %Y" }}</h6>
        </div>

        <div>
          <img src="{{ project.image-section[0].image }}" alt="{{ project.title }}" width="200px" height="134px">
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
    
  
</body>

</html>