<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>
    {% include navbar.html %}

    <section id="papers-section">
      <div class="people-title">
        <h2 class="text-uppercase text-center">Publications</h2>
      </div>

      <div class="container">
        <!-- prettier-ignore -->

        {% assign date = 0 %}
        {% for publication in site.publications reversed %}
          {% assign current_year = publication.date | date: "%Y" %}
          {% if date != current_year %}
        <h2 class="mt-2">{{ current_year }}</h2>
        <!-- prettier-ignore -->
        {% assign date = current_year %}
          {% endif %}

        {% include publication/item.html publication = publication %}
      {% endfor %}
      </div>
    </section>
  </body>
</html>
 