<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>
    {% include navbar.html %}
    <div class="people-title">
      <h1 class="text-uppercase">Whoops!</h1>
    </div>

    <section class="construction-body">
      <h1 class="text-center">
        This page is under maintenance or still under construction.
      </h1>
      <h2 class="text-center">Please check back later.</h2>
      <img src="/uploads/img/icons/cone.svg" alt="" />
    </section>

    <!-- prettier-ignore -->
    {% include footer.html %}
  </body>
</html>
